<div class="container-fluid">


    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <div class="material-switch float-right" style="display: inline-block; margin-right:5px">
                            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="settings.services.dhcp.listen" />
                            <label for="someSwitchOptionSuccess" class="bg-success"></label>
                        </div>
                        Einstellungen
                    </h5>
                </div>
                <div class="card-body">


                    <form>

                        <fieldset>

                            <legend class="mb-0">Server</legend>

                            <div class="form-group row">
                                <div class="col-4">
                                    <label>Host</label>
                                    <input type="text" ng-model="settings.services.dhcp.host" class="form-control"
                                        placeholder="0.0.0.0">
                                </div>
                                <div class="col-4">
                                    <label>Port</label>
                                    <input type="number" ng-model="settings.services.dhcp.port" class="form-control"
                                        placeholder="67">
                                </div>
                                <div class="col-4">
                                    <label>Server</label>
                                    <input type="text" ng-model="settings.services.dhcp.options.server" class="form-control"
                                        placeholder="172.16.0.254">
                                </div>

                            </div>

                        </fieldset>

                        <fieldset>

                            <legend class="mb-0">Netzwerk</legend>

                            <div class="form-group row">
                                <div class="col-3">
                                    <label>Range, start</label>
                                    <input type="text" class="form-control" ng-model="settings.services.dhcp.options.range[0]">
                                </div>
                                <div class="col-3">
                                    <label>Range, ende</label>
                                    <input type="text" class="form-control" ng-model="settings.services.dhcp.options.range[1]">
                                </div>
                                <div class="col-3">
                                    <label>Netzmaske</label>
                                    <input type="text" class="form-control" ng-model="settings.services.dhcp.options.netmask"></input>
                                </div>
                                <div class="col-3">
                                    <label>Broadcast</label>
                                    <input type="text" class="form-control" ng-model="settings.services.dhcp.options.broadcast"></input>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset>

                            <legend class="mb-0">Optionen</legend>


                            <div class="form-group row">
                                <div class="col-4">
                                    <label>Gateway</label>
                                    <input type="text" ng-model="settings.services.dhcp.options.router" class="form-control"
                                        placeholder="172.16.0.254">
                                </div>
                                <div class="col-4">
                                    <label>DNS Server</label>
                                    <input type="text" class="form-control" ng-model="settings.services.dhcp.options.dns"></input>
                                </div>
                                <div class="col-4">
                                    <label>Lease</label>
                                    <input type="number" class="form-control" ng-model="settings.services.dhcp.options.leaseTime"></input>
                                </div>
                            </div>

                        </fieldset>


                        <button type="button" ng-click="save();" class="btn btn-primary">Speichern</button>

                    </form>


                </div>
            </div>



        </div>
    </div>
</div>