<div class="container-fluid">


    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <div class="material-switch float-right" style="display: inline-block; margin-right:5px">
                            <input id="someSwitchOptionSuccessasdf" type="checkbox" ng-model="settings.services.autodiscover.listen" />
                            <label for="someSwitchOptionSuccessasdf" class="bg-success"></label>
                        </div>
                        Einstellungen
                    </h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-6">

                            <form>

                                <fieldset>

                                    <legend class="mb-0">Server</legend>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label>Host</label>
                                            <input type="text" ng-model="settings.services.autodiscover.host" class="form-control"
                                                placeholder="172.16.0.1">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label>Broadcast</label>
                                            <input type="text" ng-model="settings.services.autodiscover.broadcast"
                                                class="form-control" placeholder="172.16.0.1">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label>Interval</label>
                                            <input type="number" ng-model="settings.services.autodiscover.interval"
                                                class="form-control" placeholder="5">
                                        </div>
                                    </div>

                                </fieldset>

                                <button type="button" ng-click="save();" class="btn btn-primary">Speichern</button>

                            </form>


                        </div>
                        <div class="col-6">

                            <fieldset>

                                <legend class="mb-0">Veröffentlichte Dienste</legend>

                                <div class="mb-1 mt-2">
                                    <div class="material-switch" style="display: inline-block; margin-right:5px">
                                        <input id="broadcast-http" type="checkbox" ng-model="settings.services.autodiscover.services.http" />
                                        <label for="broadcast-http" class="bg-info"></label>
                                    </div>
                                    HTTP
                                </div>

                                <div class="mb-1">
                                    <div class="material-switch" style="display: inline-block; margin-right:5px">
                                        <input id="broadcast-tftp" type="checkbox" ng-model="settings.services.autodiscover.services.tftp" />
                                        <label for="broadcast-tftp" class="bg-info"></label>
                                    </div>
                                    TFTP
                                </div>

                                <div class="mb-1">
                                    <div class="material-switch" style="display: inline-block; margin-right:5px">
                                        <input id="broadcast-dhcp" type="checkbox" ng-model="settings.services.autodiscover.services.dhcp" />
                                        <label for="broadcast-dhcp" class="bg-info"></label>
                                    </div>
                                    DHCP
                                </div>

                            </fieldset>

                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>
</div>