<div class="container-fluid">

    <div class="row hide">
        <div class=" col-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Information</h5>
                </div>
                <div class="card-body">
                    verison, collections, etc...
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Einstellungen</h5>
                </div>
                <div class="card-body">


                    <form>

                        <fieldset>

                            <legend class="mb-0">Server</legend>

                            <div class="form-group row">
                                <div class="col-2">
                                    <label>Type</label>
                                    <select class="form-control" ng-model="settings.images.type">
                                        <option value="cifs">SMB/CIFS</option>
                                        <option value="webdav">WebDAV</option>
                                    </select>
                                </div>
                                <div class="col-10">
                                    <label>Location</label>
                                    <input type="text" class="form-control" ng-model="settings.images.location">
                                </div>
                            </div>

                        </fieldset>

                        <fieldset>

                            <legend class="mb-0">
                                <div class="material-switch" style="display: inline-block; margin-right:5px">
                                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"
                                        ng-model="settings.images.authentication.enabled" />
                                    <label for="someSwitchOptionSuccess" class="bg-success"></label>
                                </div>
                                Authentication
                            </legend>


                            <div class="form-group row">
                                <div class="col-4">
                                    <label>Benutzername</label>
                                    <input type="text" class="form-control" ng-model="settings.images.authentication.username">
                                </div>
                                <div class="col-4">
                                    <label>Domäne</label>
                                    <input type="text" class="form-control" ng-model="settings.images.authentication.domain">
                                </div>
                                <div class="col-4">
                                    <label>Passwort</label>
                                    <input type="password" class="form-control" ng-model="settings.images.authentication.password">
                                </div>
                            </div>

                        </fieldset>



                        <button type="button" ng-click="save();" class="btn btn-primary">Speichern</button>

                    </form>


                </div>
            </div>



        </div>
    </div>
</div>