<div class="container-fluid">


    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <div class="material-switch float-right" style="display: inline-block; margin-right:5px">
                            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="settings.services.updater.listen" />
                            <label for="someSwitchOptionSuccess" class="bg-success"></label>
                        </div>
                        Einstellungen
                    </h5>
                </div>
                <div class="card-body">


                    <form>

                        <fieldset>

                            <legend class="mb-0">Überprüfung</legend>

                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Interval (in Stunden)</label>
                                    <input type="number" class="form-control" ng-model="settings.services.updater.interval">
                                </div>

                            </div>

                        </fieldset>

                        <fieldset>

                            <legend class="mb-0">Installation</legend>

                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Zuletzt überprüft:</label>
                                    <b>{{settings.services.updater.lastCheck | date:'yyyy.MM.dd - HH:mm'}}</b>
                                </div>
                            </div>

                        </fieldset>



                        <button type="button" ng-click="save();" class="btn btn-primary">Speichern</button>

                    </form>


                </div>
            </div>



        </div>
    </div>
</div>