<div class="container-fluid">

    <!-- CHARTS -->
    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    ram
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    cpu
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    net
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    hdd
                </div>
            </div>
        </div>

    </div>
    <!-- CHARTS -->

    <!-- QUEUE OVERVIEW -->
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    queue
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    ?!
                </div>
            </div>
        </div>
    </div>
    <!-- QUEUE OVERVIEW -->

    <!-- SERVICES -->
    <div class="row mt-3">
        <div class="col-12">

            <div class="card">
                <div class="card-body p-0">
                    <table class="table bt-0">
                        <thead>
                            <tr>
                                <th scope="col">Dienst</th>
                                <th scope="col">Status</th>
                                <th scope="col">CPU</th>
                                <th scope="col">RAM</th>
                                <th scope="col">Start/Stop</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DHCP</td>
                                <td><span class="badge badge-success">Runnig</span></td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success btn-sm">Start</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">Stop</button>
                                    <button type="button" class="btn btn-outline-info btn-sm">Restart</button>
                                </td>
                            </tr>
                            <tr>
                                <td>HTTP</td>
                                <td><span class="badge badge-success">Runnig</span></td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success btn-sm">Start</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">Stop</button>
                                    <button type="button" class="btn btn-outline-info btn-sm">Restart</button>
                                </td>
                            </tr>
                            <tr>
                                <td>TFTP</td>
                                <td><span class="badge badge-warning">Degenerate</span></td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success btn-sm">Start</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">Stop</button>
                                    <button type="button" class="btn btn-outline-info btn-sm">Restart</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Proxy</td>
                                <td><span class="badge badge-danger">Stopped</span></td>
                                <td>0</td>
                                <td>0</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success btn-sm">Start</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm">Stop</button>
                                    <button type="button" class="btn btn-outline-info btn-sm">Restart</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- SERVICES -->


</div>