<div class="row">
    <div class="col-12">

        <div class="container">
            <div class="row">
                <div class="col-4">

                    asdf

                </div>
                <div class="col-4">

                    asdf

                </div>
                <div class="col-4">

                    asdf

                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-6">
        asdf
    </div>
</div>
<div class="row">
    <div class="col-12">
        asdfsdf
    </div>
</div>