<div class="container-fluid">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">



                    <form>

                        <div class="form-group row">
                            <div class="col-6">
                                <label>Range, start</label>
                                <input type="text" class="form-control" ng-model="settings.services.dhcp.options.range[0]">
                            </div>
                            <div class="col-6">
                                <label>Range, end</label>
                                <input type="text" class="form-control" ng-model="settings.services.dhcp.options.range[1]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Server</label>
                            <input type="text" ng-model="settings.services.dhcp.options.server" class="form-control"
                                placeholder="172.16.0.254">
                        </div>

                        <div class="form-group">
                            <label>Gateway</label>
                            <input type="text" ng-model="settings.services.dhcp.options.router" class="form-control"
                                placeholder="172.16.0.254">
                        </div>

                        <div class="form-group">
                            <label>DNS Server</label>
                            <input type="text" class="form-control" ng-model="settings.services.dhcp.options.dns"></input>
                        </div>

                        <div class="form-group">
                            <label>Broadcast</label>
                            <input type="text" class="form-control" ng-model="settings.services.dhcp.options.broadcast"></input>
                        </div>

                        <div class="form-group">
                            <label>Netzmaske</label>
                            <input type="text" class="form-control" ng-model="settings.services.dhcp.options.netmask"></input>
                        </div>

                        <div class="form-group">
                            <label>Lease</label>
                            <input type="number" class="form-control" ng-model="settings.services.dhcp.options.leaseTime"></input>
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" ng-model="settings.services.dhcp.listen" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Listen on startup</label>
                        </div>

                        <button type="button" class="btn btn-primary" ng-click="save();">Speichern</button>

                    </form>




                </div>
            </div>

        </div>
        <div class="col-6">

            dhcp list

        </div>
    </div>

</div>