<div class="container-fluid">

    <!-- SELECTION -->
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Ausgewählte sprache</h5>
                </div>
                <div class="card-body">

                    <div class="form-group mb-0">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- SELECTION -->

    <!-- LANGAUGES -->
    <div class="row mt-3">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Verfügbare sprachen</h5>
                </div>
                <div class="card-body p-0">

                    <table class="table">
                        <!--<thead>
                            <tr>
                                <th scope="col">Sprache</th>
                                <th scope="col">First</th>
                            </tr>
                        </thead>-->
                        <tbody>
                            <tr>
                                <td><span class="flag-icon flag-icon-gr flag-icon-squared"></span></td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td><span class="flag-icon flag-icon-gr flag-icon-squared"></span></td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td><span class="flag-icon flag-icon-gr flag-icon-squared"></span></td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- LANGAUGES -->

</div>