<div class="" ng-controller="Tasks">
  <div class="container-fluid">

    <!-- ADD NEW -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="m-0">

              Task Hinzufügen

              <button class="btn btn-outline-primary float-right" data-toggle="collapse" data-target="#addTask"
                aria-expanded="false" aria-controls="addTask">

                <i class="fas fa-sort-down"></i>

              </button>

            </h5>
          </div>
          <div class="card-body collapse" id="addTask">

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" ng-model="add.name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Command" ng-model="add.command">
              </div>
              <div class="col">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Options as JSON {}"
                  ng-model="add.options"></textarea>
              </div>
              <div class="col">
                <button type="button" class="btn btn-success" ng-click="handleAdd();">Hinzufügen</button>
              </div>
            </div>

            <div class="row mb-0">
              <div class="col-5">
                <hr />
              </div>
              <div class="col-2 text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#advancedSettings" aria-expanded="false"
                  aria-controls="advancedSettings">

                  Advanced

                </button>
              </div>
              <div class="col-5">
                <hr />
              </div>
            </div>

            <div class="row mb-0">
              <div class="collapse mb-0" id="advancedSettings">
                <div class="col-12">

                  <label>
                    <input type="checkbox" ng-model="add.settings.retry" /> Wiederholen bei Fehler
                  </label>

                  <br />

                  Versuche:
                  <input type="number" class="form-control" ng-model="add.settings.attempts" />

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- ADD NEW -->

    <!-- TABLE -->
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-body">

            <div class="table-responsive" style="overflow-x: scroll;">
              <table class="table table-striped table-bordered table-hover mb-0">
                <thead>

                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Command</th>
                    <th scope="col">Options (JSON)</th>
                    <th scope="col">Aktion</th>
                  </tr>

                </thead>
                <tbody>

                  <tr ng-repeat="task in list | orderBy:'name'" ng-init="edit = false; selected = false;">
                    <th scope="row">{{$index + 1}}</th>
                    <th>

                      <input type="text" class="form-control" ng-model="task.name" ng-disabled="!edit" />

                    </th>
                    <th>

                      <input type="text" class="form-control" ng-model="task.command" ng-disabled="!edit" />

                    </th>
                    <th>

                      <textarea class="form-control" ng-disabled="!edit" ng-model="task.options"></textarea>

                    </th>
                    <th>

                      <button type="button" ng-click="handleDelete();" class="btn btn-outline-danger" data-toggle="tooltip"
                        data-placement="bottom" title="Lösche Computer">
                        <i class="fas fa-trash-alt"></i>
                      </button>

                      <button type="button" ng-click="handleEdit(); edit = !edit;" class="btn btn-outline-info"
                        data-toggle="tooltip" data-placement="bottom" title="Bearbeite/Speicher Computer">
                        <i class="fas fa-edit" ng-if="!edit"></i>
                        <i class="fas fa-check" ng-if="edit"></i>
                      </button>

                    </th>
                  <tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- TABLE -->

  </div>
</div>